@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    font-family: "Nunito", sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    transition: all .2s linear;
}

img {
    user-select: none;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black;
}

@mixin graphText($graphSize) {
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    
    &::-webkit-scrollbar{
       width:1rem;
    }
 
    &::-webkit-scrollbar-track{
       background: transparent;
    }
 
    &::-webkit-scrollbar-thumb{
       background: $green;
    }
}

section {
    padding: 5rem 10%;
}

.btn {
    @include titleText(1.8rem);
    display: inline-block;
    padding: 1rem 3rem;
    margin-top: 1rem;
    background-color: $light-green;
    color: $green;
    border: $border;
    
    &:hover {
        color: $white;
        background-color: $green;
        cursor: pointer;
    }
}

.heading {
    @include titleText(3.5rem);
    text-align: center;
    margin-bottom: 3rem;
}

.heading-link {
    text-align: center;
    background: url(/assets/img/heading-bg.jpg);
    background-size: cover;
    background-position: center;

    h3 {
        @include titleText(4rem);
    }

    p {
        @include graphText(2rem);

        a {
            color: $green;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}